/* img {
  max-width: 90%;
  height: 200px;
} */
.imgAdmin img {
  width: 100%;
}
.imgAdmin ol li {
  font-size: 16px;
  font-family: myriad-pro, Lucida Grande, Arial, "Kantumruy", "Siemreap",
    sans-serif;
}

.imgAdmin h4 {
  font-family: myriad-pro, Lucida Grande, Arial, "Kantumruy", "Siemreap",
    sans-serif;
}
.imgAdmin p {
  font-family: myriad-pro, Lucida Grande, Arial, "Kantumruy", "Siemreap",
    sans-serif;
  font-size: 110%;
  text-indent: 30px;
}
.imgAdmin table,
tr,
td {
  font-size: small;
  height: px !important;
}
