.ebooCourseScreen_list {
 padding: 5px;
 border: none;
 font-size: 17px;
 transition: 0.5s;
}
.ebooCourseScreen_list:hover {
 cursor: pointer;
 font-size: 120%;
 font-weight: bold;
 background-color: rgba(195, 250, 245, 0.171);
}

.ebooCourseScreen_img img {
 max-width: 100% !important;
 /* height: 350px !important; */
 background: rgb(122, 122, 9);
}

.htmlParser p {
 font-family: myriad-pro, Lucida Grande, Arial, 'Kantumruy', 'Siemreap',
  sans-serif;
 padding: 5px;
 line-height: 2;
 font-size: 110%;
}
.htmlParser ol li {
 font-family: myriad-pro, Lucida Grande, Arial, 'Kantumruy', 'Siemreap',
  sans-serif;
 padding: 5px 0 0 0;
}
.htmlParser * {
 font-family: myriad-pro, Lucida Grande, Arial, 'Kantumruy', 'Siemreap',
  sans-serif;
 margin: 10px;
 font-size: 110%;
}
