@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang&display=swap');
main {
 min-height: 80vh;
}

/* ------------------------------------------------------------------------------------------ */

body {
 margin: 0;
 font-family: 'Ubuntu', sans-serif;
 font-size: 0.875rem;
 font-weight: 400;
 line-height: 1.5;
 color: #000000;
 text-align: left;
 background-color: rgba(255, 255, 255, 0.932);
 /* background: #da4453; */
 /* background: -webkit-linear-gradient(to right, #89216b, #da4453); */
 /* background: linear-gradient(to right, #89216b, #da4453); */
}

.rating span {
 margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
 display: flex;
}
.carousel-caption {
 position: absolute;
 top: 0;
}

.carousel-caption h2 {
 color: #fff;
}

.carousel img {
 height: 300px;
 padding: 30px;
 margin: 40px;
 border-radius: 50%;
}
.carousel a {
 margin: 0 auto;
}

.covid_rotate {
 position: absolute;
 /* top: 50%;
  left: 50%; */
 width: 60px;
 height: 60px;

 -webkit-animation: spin 4s linear infinite;
 -moz-animation: spin 4s linear infinite;
 animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
 100% {
  -moz-transform: rotate(360deg);
 }
}
@-webkit-keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
 }
}
@keyframes spin {
 100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}

.dotHover:hover {
 color: rgb(124, 124, 124);
 background-color: rgb(124, 124, 124);
 /* border-radius: 50%; */
}

.editor {
 background: rgb(30, 30, 30);
}

.bodyBG {
 background: rgb(235, 235, 235) !important;
}

.MuiLinearProgress-bar {
 height: 10px !important;
}

#testColor {
 color: rgb(66, 72, 75);
}

/* width */
::-webkit-scrollbar {
 width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px grey;
 /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: rgb(92, 92, 92);

 /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #000000;
}

.landingPage {
 right: 0 !important;
}

._text-light {
 color: #fff;
}

._bg-light {
 background: #fff !important;
}

.bg_black {
 background-color: #000000 !important;
}

.itemHigh {
 height: 100px;
}

@media only screen and (min-width: 992px) {
 .modalDescrip {
  margin-left: 31% !important;
  margin-right: 31% !important;
 }
 ._courseDetailHeader {
  height: 40vh;
 }
}
@media only screen and (max-width: 991px) {
 ._courseDetailHeader {
  min-height: 40vh;
 }
 .modalDescrip {
  margin-left: 0;
  margin-right: 0;
 }
}

@media only screen and (min-width: 1200px) {
 .itemHigh {
  height: 120px;
 }
}

.player-wrapper {
 position: relative;
 padding-bottom: 56.25%; /* Player ratio: 100 / (1280 / 720) */
 padding-top: 25;
 height: 0;
}

.react-player {
 position: absolute;
 top: 0;
 left: 0;
}

.test {
 background: rgb(235, 235, 235);
}
.grediant {
 background: linear-gradient(45deg, #1f9bcf 30%, #38d1f3 90%) !important;
 box-shadow: 0 3px 5px 2px rgba(104, 141, 148, 0.3);
}

.kh {
 /* font-family: myriad-pro, Lucida Grande, Arial, 'Kantumruy', 'Siemreap',
  sans-serif; */
 font-family: 'Battambang', cursive;
}

.headerTeam {
 font-family: 'Battambang', cursive;
 line-height: 3 !important;
}

.t_grediant {
 color: #21a1f3;
}

.t_grediantHover:hover {
 color: rgb(255, 39, 140) !important;
}

.adminHover:hover {
 background: linear-gradient(45deg, #acd6f8 30%, #f3fdff 90%) !important;
 box-shadow: 0 3px 5px 2px rgba(153, 231, 255, 0.3);
 cursor: pointer;
}

.activeVideo {
 background: linear-gradient(45deg, #acd6f8 30%, #a0e9fa 90%);
 box-shadow: 0 3px 5px 2px rgba(153, 231, 255, 0.3);
}

.courseItem:hover {
 transition: 0.5s;
 transform: translate(0, -7px);
}
.indicator {
 display: flex;
 justify-content: center;
 text-align: center;
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 margin: 0 auto;
 user-select: none;
}

.courseItem:hover button div div h5 {
 color: #007bff !important;
}

.logoutHover:hover {
 background: linear-gradient(to left, #f098a3, #945b54) !important;
 box-shadow: 0 3px 5px 2px rgba(252, 165, 183, 0.3);
}

.activeLink {
 background: rgb(25, 39, 68);
 color: #fff !important;
}

*,
*::before,
*::after {
 box-sizing: border-box;
}

.nav-item {
 margin: 0;
}

.ubuntu {
 font-family: 'Ubuntu', sans-serif;
}

.round {
 border-radius: 8px !important;
}

a {
 color: #000 !important;
 font-size: 1rem !important;
}

div {
 font-size: 1rem !important;
}

.ui.secondary.pointing.menu .item {
 font-family: 'Battambang', cursive;
}
