@import url('https://fonts.googleapis.com/css2?family=Kantumruy&display=swap');
.infoBox {
 flex: 1;
}

.infoBox:not(:last-child) {
 margin-right: 10px;
}

.infoBox--selected {
 border-top: 10px solid greenyellow;
}

.infoBox--red {
 border-color: #cc1034;
}

.infoBox--purple {
    border-color: #a70b99;
   }

.cases_text_green {
 color: lightgreen !important;
}

.cases_text_purple {
    color: #a70b99 !important;
   }

.cases_text_red {
 color: #cc1034;
}

.infoBox__total {
 color: #6c757d;
 font-weight: 700 !important;
 font-size: 0.8rem !important;
 margin-top: 15px !important;
}

.infoBox_font {
 font-family: 'Kantumruy', sans-serif;
}
