.boxDashboard{
    margin-top: 10px;
}

.icon-dashboard{
    font-size: 300%;
}
.one{
    color: rgb(20, 154, 187);
}
.two{
    color: rgb(11, 32, 218);
}
.three{
    color: rgb(238, 114, 12);
}
.four{
    color: rgb(187, 128, 20);
}
.five{
    color: rgb(233, 44, 186);
}
